{% include "base.html" %}

{% load static %}

{% block navbar %}

{% include 'elements/navbar.html' %}

{% endblock navbar %}

{% block content %}

    <style>


        body{


            background-color: gray;

        }
        



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        <h3> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; My orders </h3>

        <p> View all of your orders. </p>

        <hr>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        {% for i in orders %}

            <strong> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;  Order ID # {{i.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.date_ordered}} </strong>
            <hr>
            <br>
            <br>
            {% for j in i.order_item.all %}

            <p>{{j.product}} - {{j.quantity}} - ${{j.price}}</p>

            {% endfor %}

            
            <h5>Total cost ${{i.amount_paid}}</h5>
            <hr>

            

        {% endfor %}

    </div>

    <br>

{% endblock %}